// 通用样式
#container{
    font-size: 0.26rem;
    background: #ffffff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
// 左浮动
.left{
    float: left;
}
// 右浮动
.right{
    float: right;
}
// 框架头
.frame_head{
    // z-index:10;
    position: absolute;
    height: 2.76rem;
    width: 100%;
    top:0;
    left:0;
    .head_top{
        height: 2.76rem;
        img{
            width: 0.64rem;
            height: 0.64rem;
            margin: 0.25rem 0.2rem 0;
        }
        .data{
            float: left;
            height: 0.49rem;
            line-height: 0.49rem;
            width: 3rem;
            margin: 0.5rem auto;
            color: #ffffff;
            text-align: center;
            :first-child{
                font-size: 0.26rem;
            }
            :last-child{
                font-size: 0.6rem;
            }
        }
        :nth-child(2){
            width: 3rem;
            margin: 0 auto;
        }
    }
    .head_bottom{
        position: absolute;
        top: 1.75rem;
        height: 0.8rem;
        width: 100%;
        border-top: 0.011rem solid #fff;
        border-bottom: 0.011rem solid #fff;
        color: #fff;
        font-weight: 650;
        .hyaline{
            height: 100%;
            width: 100%;
            background-color: #ccc;
            opacity: 0.4;
        }
        span{
            margin: -0.58rem 0.4rem 0;
            font-size: 0.28rem;
        }
    }
    .head_msg{
        width: 87%;
        margin: auto;
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        color: rgba(242, 242, 242, 0.7);
        :first-child{
            font-size: 0.36rem;
            color: #ffffff;
            line-height: 0.55rem;
        }
    }
}
// 框架底部按钮
.frame_footer{
    height: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    font-size: 0.3rem;
    color: #A1A1A1;
    display: flex;
    text-align: center;
    border-top: 0.02rem solid #BCBCBC;
    div{
        flex: 1;
        &:first-child{
            border-right: 0.01rem solid #BCBCBC;
        }
    }
}
// 详细信息盒子
.detail_panel{
    width: 90%;
    background-color: #F2F2F2;
    border-radius: 0.3rem;
    border: 0.02rem solid #E4E4E4;
    padding: 0.25rem;
    font-size: 0.28rem;
    position: absolute;
    top: 3.5rem;
    left: 5%;
    .each_row{
        margin: 0 auto; 
        overflow: hidden;
        display: flex; 
        margin-bottom: 0.2rem;
        .each_row_left{ 
            text-align: center;
            float: left; 
            flex: 1; 
            padding-bottom: 100rem;
            margin-bottom: -100rem;
        }
        .each_row_right{ 
            float: left; 
            flex: 2; 
            padding-bottom: 100rem;
            margin-bottom: -100rem;
        }
    }
    :last-child{
        margin-bottom: 0;
    }
}
// 列表
.Lklist {
    -webkit-overflow-scrolling: touch;
    ul{
        width: 100%;
        height: 100%;
        li{
            float: left;
            height: 1.2rem;
            width: 100%;
            border-bottom: 0.01rem solid #E4E4E4;
            img{
                width: 0.64rem;
                height: 0.64rem;
                margin: 0.25rem;
            }
            .icon{
                border-right: 0.01rem solid #E4E4E4;
                margin: auto;
                .trigon{
                    width: 0;
                    height: 0;
                    border-top: 0.12rem dashed transparent;
                    border-bottom: 0.12rem dashed transparent;
                    border-right: 0.12rem solid #E4E4E4;
                    margin-top: 0.45rem;
                }
            }
            .data{
                display: flex;
                margin-right: 0.4rem;
                div{
                    margin: 0.2rem 0 0 0.2rem;
                    height: 0.4rem;
                    line-height: 0.4rem;
                }
            }
            .arrow{
                width: 0.16rem;
                height: 0.28rem;
                float: right;
                position: relative;
                bottom: 0.4rem;
                margin-right: 0.12rem;
                margin-bottom: 0.12rem;
            }
        }
    }
}
.noMoreMsg{
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    width: 100%;
    margin: 0.3rem 0;
    font-size: 0.25rem;
    text-align: center;
    color:#424242;
}
.daily_list{
    width:100%;
    overflow-y:scroll;
    position:absolute;
    bottom: 1rem;
    top: 2.76rem;
}
.all_list{
    width:100%;
    overflow-y:scroll;
    position:absolute;
    bottom: 1rem;
    top: 0;
}
// 余额转出盒子
.deal_panel{
    width: 90%;
    background-color: #F2F2F2;
    border-radius: 0.3rem;
    border: 0.01rem solid #E4E4E4;
    font-size: 0.28rem;
    position: absolute;
    top: 3.5rem;
    left: 5%;
    padding-bottom:1rem;
    // 底部按钮
    .panel_footer{
        font-size: 0.36rem;
        color: #fff;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
    // 绿色标题
    .title{
        color:#29B527;
        font-size: 0.28rem;
        font-weight: 700;
        margin: 0.5rem 0.5rem 0;
        .right{
            font-size: 0.24rem;
            color:#BCBCBC;
            text-align: right;
        }
    }
    // 单行输入框
    .text_box{
        margin:0.25rem 0;
        font-size: 0.32rem;
        border-radius: 0.2rem;
        box-sizing: border-box;
        border: 1px solid #bdbdbd; 
        padding: 0 0.3rem;
        height: 0.88rem;
        line-height: 0.88rem;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        &::-webkit-input-placeholder{
            color:#E4E4E4;
        }
    }
    // 信息列表
    .list{
        width: 80%;
        height: 100%;
        margin: 0.15rem auto 0.5rem;
        line-height: 0.5rem;
        .left_list{
            position: absolute;
            height: 2rem;
            width: 1.5rem;
        }
        .right_list{
            overflow: hidden;
            margin-left: 1.5rem;
            height: 100%;
        }
    }
}
// 底部弹出层
.popup{
    height: 3.4rem;
    width: 95%;
    background-color: #F7F7F7;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border: 0.01rem solid #E4E4E4;
    font-size: 0.28rem;
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-direction: column;
    .popup_title {
        flex: 1;
        text-align: center;
        font-size: 0.28rem;
        font-weight: 700;
        :first-child{
            color:#A1A1A1;
        }
        :last-child{
            float: right;
            position: absolute;
            color:#29B527;
            right: 0.4rem;
        }
    }
    .popup_list{
        flex: 4;
        display: flex;
        flex-direction: column;
        li{
            border-top: 0.02rem solid #E4E4E4;
            flex: 1;
            display: flex;
            text-align: center;
            align-items:center;
            font-weight: 700;
            color: #868686;
            .popup_icon{
                flex: 1;
                border-right: 0.02rem solid #E4E4E4;
                margin-right: 0.2rem;
                img{
                    width: 0.8rem;
                    height: 0.7rem;
                }
                .popup_trigon{
                    width: 0;
                    height: 0;
                    border-top: 0.12rem dashed transparent;
                    border-bottom: 0.12rem dashed transparent;
                    border-right: 0.12rem solid #E4E4E4;
                    margin-top: 0.25rem;
                }
            }
            span{
                flex: 3;
                text-align: left;
            }
        }
    }
}